.panel-habilidades {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 15px;
  margin: 20px 0;
  border-radius: 15px;
  font-weight: bold;
}

.panel-habilidades p {
  margin: 5px 0;
}